*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo img{
    width:200px;
    
}
.menus ul{
    display:flex;
    
}
.menus ul li{
    list-style: none;
    margin:20px;
    padding:10px;
    
}