*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}
/* .section-1{
    min-height: 100vh;
} */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo img{
    width:150px;
    
}
.menus ul{
    display:flex;
    
}
.menus ul li{
    list-style: none;
    margin:20px;
    padding:10px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}
.hero{
    position: relative;
    height:calc(100vh - 122.81px);
    
    
}
.background-hero{
    position:absolute;
    width:100%;
    height:100%;
    padding: 0px 100px;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    filter:blur(2px);
    z-index: 1;
}
.background-content{
    z-index: 2;
    position:relative;
    text-align: center;
    top: 30%;
    transform: translateY(30%);
    color:white;
    font-size: 16px;

}
.background-content{
    font-size: 25px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

/* section 2 */
.section-2 .container-2{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    gap:50px;
    padding: 20px 100px;

}
.section-2 .container-2 .left-container{
    width:50vw;
    height:75vh;
    background-image: url(assets/about-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-radius: 10px;
    
   
    
}
.section-2 .container-2 .right-container{
    width:50vw;
    height:70vh;
    text-align: left;
}
.section-2 .container-2 .right-container .right-headline{
    font-size: 42px;
    letter-spacing: 1.5px;
    height:20vh;
    text-transform: uppercase;
}
.section-2 .container-2 .right-container .sub-headline{
    font-size: 32px;
    height:10vh;
}
.section-2 .container-2 .right-container .right-content{
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 1.5px;
}
.section-3{
    width:100vw;
    height:100vh;
    display:grid;
    justify-content: center;
    align-content: center;
}
.section-3 .container-3{

   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap:50px;
   padding:20px;
   
}
.section-3 .container-3 .product{
   width:350px;
   height:350px;
   
   
}
.section-3 .product-title{
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 25px 0px;

}
.item-1{
    background-image: url(assets/ludwig.jpg);
    background-position: center;
    background-size: cover;
    height:200px;  
    border-radius: 10px;
    
}
.item-2{
    background-image: url(assets/mapex.jpg);
    background-position: center;
    background-size: cover;
    height:200px;  
    border-radius: 10px;
}
.item-3{
    background-image: url(assets/pearl.jpg);
    background-position: center;
    background-size: cover;
    height:200px;  
    border-radius: 10px;
}
.item-4{
    background-image: url(assets/sjc.jpg);
    background-position: center;
    background-size: cover;
    height:200px;
    border-radius: 10px; 
}
.item-5{
    background-image: url(assets/yamaha.jpg);
    background-position: center;
    background-size: cover;
    height:200px;  
    border-radius: 10px;
}
.item-6{
    background-image: url(assets/yamaha\ 2.jpg);
    background-position: center;
    background-size: cover;
    height:200px;  
    border-radius: 10px;
}
.item-name{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px;
}
.item-price{
    font-size: 16px;
    padding: 5px 0px;
}
.item-detail{
    font-size: 12px;
    line-height: 18px;
    padding: 5px 0px;
}
.section-4{
   
   margin:0 auto;
    
}
.contact-title{
    text-align: center;
    font-size:42px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 25px 0px;
}
.container-4{
     margin:0 auto;
     width:600px;
     padding:30px 50px;
    display:grid;
    grid-template-rows: 50px 200px;
}

.textarea{
    margin: 10px 0px;
}
